.App {
  text-align: center;
  background: #0B2434;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


main{
  background: #F5F5F5;
  height: 80%;
  width: 85%;
  min-width: 600px;
 
}




